<h1>Demo#index</h1>
<p>Find me in app/views/demo/index.html.erb</p>

<br>
<br>
<%= link_to('About us: ', {action: :about}) %>
<br>
<br>

<br>
<br>
<br>
<br>


<%= link_to('Demo Hello', {:action => :hello}) %>
<br>
<br>

<%= link_to('Student index', {controller: 'students', action: :index}) %>
<br>
<br>

<%= link_to('Student detail', '/students/detail') %>

<br>

<%= link_to('Student detail with params', {controller: 'students', action: :detail, id: 20, page: 5}) %>